<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellofan.backend.mapper.StudyPlanMapper">

    <resultMap id="ResultStudyPlan" type="com.hellofan.backend.model.StudyPlan">
        <id column="id" property="id"/>
        <id column="traditional" property="tradictional"/>
        <id column="learn_times" property="learnTimes"/>
        <id column="user_name" property="userName"/>
        <id column="next_date" property="nextDate"/>
        <id column="e_factor" property="efactor"/>
        <id column="update_time" property="updateTime"/>
        <id column="repeat_times" property="repeatTimes"/>
        <id column="learn_date" property="learnDate"/>
    </resultMap>
    <insert id="insertOnePlan">
        insert into study_plan(traditional,learn_times,user_name,next_date,e_factor,update_time,repeat_times,learn_date)
        values(
               #{tradictional},#{learnTimes},#{userName},#{nextDate},#{efactor},#{updateTime},#{repeatTimes},#{learnDate}
              )
    </insert>

    <update id="updateOnePlan" >
        update study_plan
        set learn_times=#{learnTimes}, next_date=#{nextDate} ,e_factor=#{efactor},update_time=#{updateTime},repeat_times=#{repeatTimes},learn_date=#{learnDate}
        where traditional=#{tradictional} and user_name=#{userName}
    </update>
    <update id="updateAllPlan">
    </update>
    <delete id="deleteAllPlan">
        delete from study_plan where user_name=#{userName}
    </delete>
    <select id="getAllPlan" resultMap="ResultStudyPlan">
        select * from study_plan where user_name = #{userName}
    </select>
    <select id="getUpdateTime" resultType="java.util.Date">
        select max(update_time) from study_plan where user_name=#{userName} group by user_name
    </select>


</mapper>