<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.nothing.springshop.mapper.showCoffee">-->

<!--&lt;!&ndash;<select id="showAllCoffee" resultType="com.nothing.springshop.entity.Coffee">&ndash;&gt;-->
<!--&lt;!&ndash;select * from coffee&ndash;&gt;-->
<!--&lt;!&ndash;</select>&ndash;&gt;-->
<!--</mapper>-->
<mapper namespace="com.hellofan.backend.mapper.UserMapper">
    <resultMap id="ResultUser" type="com.hellofan.backend.model.User">
        <id column="id" property="id"/>
        <id column="phone_number" property="phoneNum"/>
        <id column="password" property="password"/>
        <id column="user_name" property="userName"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>
    <insert id="insertUser">
        insert into user(phone_number,password,user_name)
        values (#{phoneNum},#{password},#{userName})
    </insert>
    <update id="updateByPhoneNum">
        update user set password=#{newPassword} where phone_number=#{phoneNum}
    </update>
    <select id="findUserByName" resultType="java.lang.Integer">
        select count(*) from user where user_name=#{name}
    </select>
    <select id="findUserByPhoneNum" resultType="java.lang.Integer">
        select count(*) from user where phone_number=#{phoneNum}
    </select>
    <select id="verifyUserInfoByName" resultType="java.lang.Integer">
        select count(*) from user where user_name=#{userName} and password=#{password}
    </select>
    <select id="verifyUserInfoByPhoneNum" resultType="java.lang.Integer">
        select count(*) from user where phone_number=#{phoneNum} and password=#{oldPassword}
    </select>
    <select id="findUserNameByPhone" resultType="java.lang.String">
        select user_name from user where phone_number=#{phoneNum}
    </select>

    <select id="getUpdateTime" resultType="java.util.Date">
        select update_time from user where user_name=#{userName}
    </select>
</mapper>
